<div class="c-app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form (ngSubmit)="update(form)" [formGroup]="form">
              <h1>Mot de passe</h1>
              <p class="text-muted">Changer votre mot de passe</p>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input disabled type="text" formControlName="email" class="form-control" placeholder="Email" />
              </div>
              <div
                *ngIf="form.controls['email'].errors && form.controls['email'].touched"
                class="alert alert-danger m-t-10"
              >
                <div [hidden]="!form.controls['email'].errors.required">L'adresse mail est requise</div>
                <div [hidden]="!form.controls['email'].errors.pattern">L'adresse mail est invalide</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe" />
              </div>
              <div
                *ngIf="form.controls['password'].errors && form.controls['password'].touched"
                class="alert alert-danger m-t-10"
              >
                <div [hidden]="!form.controls['password'].errors.required">Le mot de passe est requis</div>
                <div [hidden]="!form.controls['password'].errors.pattern">
                  Le mot de passe doit contenir au moins une lettre miniscule, une lettre majuscule, un chiffre et un
                  caractère spécial (taille >= 8)
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input
                  type="password"
                  formControlName="passwordConfirm"
                  class="form-control"
                  placeholder="Confirmation mot de passe"
                  autocomplete="Off"
                />
              </div>
              <div
                *ngIf="form.controls['passwordConfirm'].errors && form.controls['passwordConfirm'].touched"
                class="alert alert-danger m-t-10"
              >
                <div [hidden]="!form.controls['passwordConfirm'].errors.required">La confirmation est requise</div>
                <div [hidden]="!form.controls['passwordConfirm'].errors.invalid">
                  Les mots de passe ne correspondent pas. Veuillez réessayez
                </div>
              </div>
              <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-success">Confirmer</button>
              <div *ngIf="messageSuccessfull" class="alert alert-success mt-3" role="alert">
                {{ messageSuccessfull }}
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                {{ errorMessage }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
