<div class="container">
  <form (ngSubmit)="save(form)" [formGroup]="form">
    <h1 class="mt-4 mb-4">Nouvelle machine</h1>
    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <input type="text" formControlName="name" class="form-control" placeholder="Nom" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <input type="number" formControlName="frequency" class="form-control" placeholder="frequence" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <input type="url" formControlName="url" class="form-control" placeholder="url" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <input type=" number" formControlName="port" class="form-control" placeholder="port" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <input type="text" formControlName="version" class="form-control" placeholder="version" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <ng-select
          [items]="users | async"
          [multiple]="false"
          [virtualScroll]="true"
          [closeOnSelect]="true"
          bindLabel="userName"
          bindValue="id"
          placeholder="Selectionnez un utilisateur pour la machine"
          formControlName="userId"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.userName }}
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="btn-group">
      <button [disabled]="!form.valid" type="submit" class="btn btn-success m-3">Ajouter</button>
    </div>
    <div class="btn-group">
      <button type="reset" class="btn btn-danger">Annuler</button>
    </div>

    <div *ngIf="saveSuccessfull" class="alert alert-success mt-3" role="alert">
      L'ajout de la machine s'est fait avec succès !!! Identifiant de la machine : {{ id }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>
  </form>
</div>
