<div class="c-app flex-row align-items-center ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form (ngSubmit)="login(form)" [formGroup]="form">
                <h1>Connexion</h1>
                <p class="text-muted">Connectez-vous à l'application</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" formControlName="email" class="form-control" placeholder="Email" />
                </div>
                <div
                  *ngIf="form.controls['email'].errors && form.controls['email'].touched"
                  class="alert alert-danger m-t-10"
                >
                  <div [hidden]="!form.controls['email'].errors.required">L'adresse mail est requise</div>
                  <div [hidden]="!form.controls['email'].errors.pattern">L'adresse mail est invalide</div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe" />
                </div>
                <div
                  *ngIf="form.controls['password'].errors && form.controls['password'].touched"
                  class="alert alert-danger m-t-10"
                >
                  <div [hidden]="!form.controls['password'].errors.required">Le mot de passe est requis</div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4" [disabled]="!form.valid">Se connecter</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" (click)="forgottenPassword()" class="btn btn-link px-0">
                      Mot de passe oublié?
                    </button>
                  </div>
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                  {{ errorMessage }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
