// Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.flex-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}



