<div class="card">
  <div class="card-body">
    <iframe seamless width="100%" height="336" frameborder="0" src="http://isitweekendyet.com/"></iframe>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <iframe seamless width="100%" height="336" frameborder="0" src="http://www.lemurdelapresse.com/"></iframe>
  </div>
</div>
<div class="container text-center">
  <iframe
    seamless
    width="100%"
    height="336"
    frameborder="0"
    src="https://www.infoclimat.fr/public-api/mixed/iframeSLIDE?_ll=48.85341,2.3488&_inc=WyJQYXJpcyIsIjQyIiwiMjk4ODUwNyIsIkZSIl0=&_auth=ARtXQFIsUXNecwQzA3UBKFM7UGUBdwUiUy9QM1g9USxSOVMyVjZWMABuBntVegA2UH0AY1phAzNWPQR8CnhRMAFrVztSOVE2XjEEYQMsASpTfVAxASEFIlM0UDFYK1EzUjhTNFYrVjQAcQZlVWAAN1B8AH9aZAM%2BVjIEZAplUTsBZlc0UjNRN14uBHkDNgFgU2BQMwE3BW9TOFAzWDdRNlIyU2ZWZFYzAHEGZlViADdQagBhWmIDPFY0BHwKeFFLARFXLlJxUXFeZAQgAy4BYFM%2BUGQ%3D&_c=7f5a7a8757837ba3934cb6df5903e0f8"
  ></iframe>
</div>
