<div class="c-app flex-row align-items-center ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form (ngSubmit)="submit(form)" [formGroup]="form">
                <h1>Mot de passe oublié</h1>
                <p class="text-muted">Récupérer votre compte</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" formControlName="email" class="form-control" placeholder="Email" />
                </div>
                <div
                  *ngIf="form.controls['email'].errors && form.controls['email'].touched"
                  class="alert alert-danger m-t-10"
                >
                  <div [hidden]="!form.controls['email'].errors.required">L'adresse mail est requise</div>
                  <div [hidden]="!form.controls['email'].errors.pattern">L'adresse mail est invalide</div>
                </div>

                <div class="row">
                  <div class="col-6 mx-auto">
                    <button
                      [disabled]="!form.valid"
                      type="submit"
                      class="btn btn-primary px-4"
                      [disabled]="!form.valid"
                    >
                      Confirmer
                    </button>
                  </div>
                </div>
                <div *ngIf="messageSuccessfull" class="alert alert-success mt-3" role="alert">
                  {{ messageSuccessfull }}
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                  {{ errorMessage }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
