<div class="c-app flex-row align-items-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12 mx-auto">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form (ngSubmit)="edit(form)" [formGroup]="form">
              <h1>Compte</h1>
              <p class="text-muted">Editer votre profil</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="text" formControlName="firstname" class="form-control" placeholder="Prénom" />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="text" formControlName="lastname" class="form-control" placeholder="Nom" />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" formControlName="email" class="form-control" placeholder="Email" />
              </div>
              <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-success">Modifier</button>
              <div *ngIf="editSuccessful" class="alert alert-success mt-3" role="alert">
                La modification d'utilisateur s'est faite avec succès !!!
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                {{ errorMessage }}
              </div>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="type == 'user'" class="col-md-6 col-sm-12 mx-auto mt-sm-4 mt-md-0">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form (ngSubmit)="updatePwd(formPwd)" [formGroup]="formPwd">
              <h1>Mot de passe</h1>
              <p class="text-muted">Changer votre mot de passe</p>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe" />
              </div>

              <div
                *ngIf="formPwd.controls['password'].errors && formPwd.controls['password'].touched"
                class="alert alert-danger m-t-10"
              >
                <div [hidden]="!formPwd.controls['password'].errors.required">Le mot de passe est requis</div>
                <div [hidden]="!formPwd.controls['password'].errors.pattern">
                  Le mot de passe doit contenir au moins une lettre miniscule, une lettre majuscule, un chiffre et un
                  caractère spécial (taille >= 8)
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input
                  type="password"
                  formControlName="passwordConfirm"
                  class="form-control"
                  placeholder="Confirmation mot de passe"
                  autocomplete="Off"
                />
              </div>
              <div
                *ngIf="formPwd.controls['passwordConfirm'].errors && formPwd.controls['passwordConfirm'].touched"
                class="alert alert-danger m-t-10"
              >
                <div [hidden]="!formPwd.controls['passwordConfirm'].errors.required">La confirmation est requise</div>
                <div [hidden]="!formPwd.controls['passwordConfirm'].errors.invalid">
                  Les mots de passe ne correspondent pas. Veuillez réessayez
                </div>
              </div>
              <button [disabled]="!formPwd.valid" type="submit" class="btn btn-block btn-success">Confirmer</button>
              <div *ngIf="editPwdSuccessfull" class="alert alert-success mt-3" role="alert">
                Vous avez changé votre mot de passe !
              </div>
              <div *ngIf="errorPwdMessage" class="alert alert-danger mt-3" role="alert">
                {{ errorPwdMessage }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
