<div class="confirm-dialog-container">
  <div class="content-container">
    <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
    <span class="content-span full-width">{{ data.message }}</span>
  </div>
  <div class="row">
    <button class="col-6" mat-flat-button id="no-button" [mat-dialog-close]="false">NON</button>
    <button class="col-6" mat-flat-button id="yes-button" [mat-dialog-close]="true">OUI</button>
  </div>
</div>
