<div class="container data-card">
  <div class="search-div">
    <button mat-raised-button *ngIf="!isUser" class="add-form-field" (click)="onCreate()">
      <mat-icon>add</mat-icon>Ajouter
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table
      #table
      [dataSource]="dataSource"
      class="machines-table"
      matSort
      matSortActive="name"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Nom</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="port">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Port</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.port }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Propriétaire</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.ownerName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Editer</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)" class="edit_icon">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="affect">
        <mat-header-cell *matHeaderCellDef>Affecter</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button *ngIf="!isUser" mat-icon-button (click)="onAffect(row)" class="affect_icon">
            <mat-icon>compare_arrows</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Supprimer</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button *ngIf="!isUser" mat-icon-button (click)="onDelete(row.id)" class="delete_icon">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"> </mat-paginator>
  </div>
</div>
