<div class="container">
  <form (ngSubmit)="edit(form)" [formGroup]="form">
    <h1 class="mt-4 mb-4">Modifier la machine</h1>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <label class="col-sm-3 col-form-label">Nom</label>
        <input type="text" formControlName="name" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <label class="col-sm-3 col-form-label">Frequence</label>

        <input type="number" formControlName="frequency" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <label class="col-sm-3 col-form-label">URL</label>
        <input type="url" formControlName="url" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <label class="col-sm-3 col-form-label">Port</label>
        <input type="number" formControlName="port" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <label class="col-sm-3 col-form-label">Version</label>
        <input type="text" formControlName="version" class="form-control" />
      </div>
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success m-3">Modifier</button>
    </div>
    <div class="btn-group">
      <button type="reset" class="btn btn-danger">annuler</button>
    </div>

    <div *ngIf="editSuccessful" class="alert alert-success mt-3" role="alert">
      La modification s'est faite avec succès !!!
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>
  </form>
</div>
