<div class="container data-card">
  <div>
    <button mat-raised-button *ngIf="isUser" class="add-form-field" (click)="onCreate()">
      <mat-icon>add</mat-icon>Ajouter
    </button>
    <button mat-raised-button *ngIf="!isUser" (click)="getDocument()"><mat-icon>archive</mat-icon>Exporter</button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div *ngIf="isUser" class="mat-elevation-z8">
    <mat-table
      #table
      [dataSource]="dataSource"
      class="products-table"
      matSort
      matSortActive="name"
      matSortDirection="asc"
    >
      <mat-header-row *matHeaderRowDef="displayedColumnsUser"></mat-header-row>
      <mat-row *matRowDef="let product; columns: displayedColumnsUser"></mat-row>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Nom</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantité</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.quantity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="machine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Machine</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.machine.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="alert">
        <mat-header-cell *matHeaderCellDef>Alerte</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <mat-icon *ngIf="isOnAlert(product.quantity)">warning</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Editer</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-icon-button (click)="onEdit(product.id)" class="edit_icon">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Supprimer</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-icon-button (click)="onDelete(product.id)" class="delete_icon">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"> </mat-paginator>
  </div>
  <div *ngIf="!isUser" class="mat-elevation-z8">
    <mat-table
      #table
      [dataSource]="dataSource"
      class="products-table"
      matSort
      matSortActive="name"
      matSortDirection="asc"
    >
      <mat-header-row *matHeaderRowDef="displayedColumnsAdmin"></mat-header-row>
      <mat-row *matRowDef="let product; columns: displayedColumnsAdmin"></mat-row>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Nom</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantité</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.quantity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="machine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Machine</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.machine.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Propriétaire</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <span>{{ product.machine.owner.firstName }} {{ product.machine.owner.lastName }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="alert">
        <mat-header-cell *matHeaderCellDef>Alerte</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <mat-icon *ngIf="isOnAlert(product.quantity)">warning</mat-icon>
        </mat-cell>
      </ng-container>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"> </mat-paginator>
  </div>
</div>
