<div class="container-fluid mainC">
  <div class="container-fluid">
    <mat-toolbar>
      <legend class="text-center"><strong>Affectation de machine</strong></legend>
      <button class="close btn-dialog-close" (click)="onClose()" tabIndex="-1">
        <i class="material-icons">close</i>
      </button>
    </mat-toolbar>
  </div>
  <div class="container-fluid">
    <form class="well form-horizontal" (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <div class="input-group my-3">

        <ng-select
          [items]="users | async"
          [multiple]="false"
          [virtualScroll]="true"
          [closeOnSelect]="true"
          bindLabel="userName"
          bindValue="id"
          placeholder="Selectionnez un utilisateur pour la machine"
          formControlName="user"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.userName }}
          </ng-template>
        </ng-select>
      </div>

      <button type="submit" class="btn btn-block btn-success">
        Valider
      </button>
      <div *ngIf="assignSuccessfull" class="alert alert-success mt-3" role="alert">
        Vous avez réussi à assigner la machine à l'utilisateur !
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
        {{ errorPwdMessage }}
      </div>
    </form>
  </div>
</div>
