.mat-toolbar {
  height: 100px;
  width: 100%;
  background-color: white;
}

.close {
  position: fixed;
  right: 26%;
  margin-bottom: 25px;
}

button.close {
  background-color: grey;
  border-radius: 90%;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 40px !important;
}

ng-select {
  width: 100%;
}

.mainC {
  height: 200px;
}

.ng-dropdown-panel {
  height: 50px;
}
