<div class="c-app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form (ngSubmit)="save(form)" [formGroup]="form">
              <h1>Inscription</h1>
              <p class="text-muted">Créer un utilisateur</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="text" formControlName="firstname" class="form-control" placeholder="Prénom" />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="text" formControlName="lastname" class="form-control" placeholder="Nom" />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" formControlName="email" class="form-control" placeholder="Email" />
              </div>
              <div
                *ngIf="form.controls['email'].errors && form.controls['email'].touched"
                class="alert alert-danger m-t-10"
              >
                <div [hidden]="!form.controls['email'].errors.required">L'adresse mail est requise</div>
                <div [hidden]="!form.controls['email'].errors.pattern">L'adresse mail est invalide</div>
              </div>

              <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-success">Ajouter</button>
              <div *ngIf="registrationSuccessful" class="alert alert-success mt-3" role="alert">
                L'ajout d'utilisateur s'est fait avec succès !!!
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                {{ errorMessage }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
