<app-navbar></app-navbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="footer mt-auto py-3 text-center mb-0">
  <div class="container">
    <p>© 2019-2020 Coffee App, Tous les droits sont réservés.</p>
    <p>Crédité par Adnene Ladjimi, Mohamed Tall, Lyes Djenane, Anis Redjem Saad </p>
  </div>
</footer>
<!-- Footer -->
