<div class="container data-card">
  <div class="search-div">
    <button mat-raised-button class="add-form-field" (click)="onCreate()"><mat-icon>add</mat-icon>Ajouter</button>
    <button mat-raised-button (click)="getDocument()"><mat-icon>archive</mat-icon>Exporter</button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table
      #table
      [dataSource]="dataSource"
      class="users-table"
      matSort
      matSortActive="lastName"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Prénom</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.firstName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.lastName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Editer</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row.id)" class="edit_icon">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Supprimer</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onDelete(row.id)" class="delete_icon">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"> </mat-paginator>
  </div>
</div>
