

.mat-column-firstName, .mat-column-lastName  {
    flex: 0 0 25% !important;
    width: 25% !important;
}

.mat-column-email {
    flex: 0 0 30% !important;
    width: 30% !important;
}

.mat-column-edit, .mat-column-delete{
    flex: 0 0 10% !important;
    width: 10% !important;
    justify-content: center;
}


