<div class="container">
  <form (ngSubmit)="submit(form)" [formGroup]="form">
    <h1 class="mt-4 mb-4">{{ title }}</h1>
    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <input type="text" formControlName="name" class="form-control" placeholder="Nom" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <input type="number" formControlName="quantity" class="form-control" placeholder="Quantité" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <input type=" number" formControlName="price" class="form-control" placeholder="Prix" />
      </div>
    </div>

    <div class="row">
      <div class="input-group mb-3 col-sm-6">
        <ng-select
          *ngIf="!product"
          [items]="machines | async"
          [multiple]="false"
          [virtualScroll]="true"
          [closeOnSelect]="true"
          bindLabel="name"
          bindValue="id"
          placeholder="Selectionnez une machine"
          formControlName="machineId"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.name }}
          </ng-template>
        </ng-select>
        <input *ngIf="product" disabled="true" type="text" [value]="product.machine.name" class="form-control" />
      </div>
    </div>

    <div class="btn-group">
      <button *ngIf="!product" [disabled]="!form.valid" type="submit" class="btn btn-success m-3">Ajouter</button>
      <button *ngIf="product" [disabled]="!form.valid" type="submit" class="btn btn-success m-3">Modifier</button>
    </div>
    <div class="btn-group">
      <button type="reset" class="btn btn-danger">Annuler</button>
    </div>

    <div *ngIf="messageSuccessfull" class="alert alert-success mt-3" role="alert">
      {{ messageSuccessfull }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>
  </form>
</div>
