<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target=".navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav mr-auto">
        <!-- IS Guest -->
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="home">Accueil</a></li>
        <!-- IS Admin -->
        <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="users">Utilisateurs</a>
        </li>
        <!-- IS Admin && USer-->
        <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin() || isUser()">
          <a class="nav-link" routerLink="machines">Machines</a>
        </li>
        <!-- IS User-->
        <li class="nav-item" routerLinkActive="active" *ngIf="isUser() || isAdmin()">
          <a class="nav-link" routerLink="products">Produits</a>
        </li>
        <!-- IS User -->
        <li class="nav-item" routerLinkActive="active" *ngIf="isUser()">
          <a class="nav-link" routerLink="profile">Compte</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="!isAdmin() && !isUser()">
          <a class="nav-link ml-auto" routerLink="login">Connexion</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isUser()">
          <a class="nav-link ml-auto" routerLink="profile">{{ userName }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin()">
          <a class="nav-link ml-auto">Administrateur</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin() || isUser()">
          <a class="nav-link ml-auto" (click)="logout()" routerLink="login">Deconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
